{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HOME</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

<link href="https://fonts.googleapis.com/css?family=Roboto|Courgette|Pacifico:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<script src="https://js.stripe.com/v3/"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

   

</head>
<body style="background-color: #e6e6e6; font-family: Roboto, sans-serif">
<!--	<div class="container-fluid" id="topcolor" style="background: rgb(251,198,63);
background: radial-gradient(circle, rgba(251,198,63,1) 35%, rgba(235,221,112,1) 73%); height: 90px;" align="center">

<img src="https://lh3.googleusercontent.com/proxy/RYr6Z0ef5bggQDyM_aZl9S2Vb64Gi6Nt5RyZ49iYiNFZj8v836SNLP0GrC540-fl7jzrtuVC2YXGG89jwiDgT3TahSzNnZjejgRTeXDVse2GQfK2oxZgXQOtXrw-Xg" style="width: 90px; height: 80px;">
	</div> -->
	<nav class="navbar navbar-default navbar-expand-sm bg-light navbar-light">
	<div class="navbar-header d-flex col" style="align-items: center;">
		<a class="navbar-brand" href="{% url 'home' %}"><img src="https://lh3.googleusercontent.com/proxy/jjHSvbtrouH3rcej91cM5BwJdI3IHabH3-4R1t_p2bbW74AmqjeCqSyPUkm_AjV_ebWTM4T9V4HYMfsLciEF7P5HGJt9jG6wueJNfS-PH1aNWDjQXk_T5EKINdv5jwPr" style="width: 50px;height: 50px;"> SURYA MANDIR<b> NIRMAN SAMITI</b></a>
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
			<span class="navbar-toggler-icon"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<ul class="nav navbar-nav">
			<li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
			{% if user.is_authenticated %}
				<li class="nav-item dropdown">
					<a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Services <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'pubblog' %}" class="dropdown-item">Blogs</a></li>
						<li><a href="{% url 'new' %}" class="dropdown-item">New Blog</a></li>
						<li><a href="#" class="dropdown-item">Employee List</a></li>
						<li><a href="#" class="dropdown-item">Rate List</a></li>
					</ul>
				</li>

				</ul>
			<form class="navbar-form form-inline" action="/search/">
				<div class="input-group search-box">
					<input type="text" id="search" class="form-control" placeholder="Search by Name" type="search" name = "q">
					
					<button type="submit" class="btn btn-success"><i class="fa fa-search" style="color: #ffff4d"></i></button>
				</div>

			</form>
			<ul class="nav navbar-nav navbar-right ml-auto">
				<li class="nav-item"><a href="#" class="nav-link notifications"><i class="fas fa-bell"></i><span class="badge">1</span></a></li>
				<li class="nav-item"><a href="#" class="nav-link messages"><i class="fas fa-envelope"></i><span class="badge">10</span></a></li>
				<li class="nav-item dropdown">
					<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="{{user.Profile.image.url}}" class="avatar" alt="Avatar"> {{user.username|capfirst}} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'profile' %}" class="dropdown-item"><i class="fa fa-user"></i> Profile</a></li>
						<li><a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a></li>
						<li><a href="{% url 'prblog' %}" class="dropdown-item"><i class="fa fa-sliders"></i> Post</a></li>
						<li class="divider dropdown-divider"></li>
						<li><a href="{% url 'logout' %}" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></li>
					</ul>
				</li>
			</ul>
		{% else %}
			<ul class="nav navbar-nav">
				<li class="nav-item"><a href="{% url 'pubblog' %}" class="nav-link">Our Works</a></li>
				<li class="nav-item"><a href="{% url 'team' %}" class="nav-link">Team</a></li>

				<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
				<li class="nav-item"><a href="#" class="nav-link">About</a></li>
			</ul>
			<ul class="nav navbar-nav">
	          <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
			  <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Sign Up</a></li>
	        </ul>
		{% endif %}
	</div>
</nav>


{% block content %}


{%endblock%}



<!-- Footer -->



</body>
</html>