{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
      {{ message }}
    </div>
  {% endfor %}
{%endif%}
</div>


<div class="container">
    <div class="row">
    	<div class="col-6">
    		<div class="card">
    	<img src="{{user.Profile.image.url}}">
    </div>
    	</div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                <form action="{% url 'locupdate' %}" method="Post">{% csrf_token %}
                	{{form|crispy}}
               
                <button type="submit" class="btn btn-success" style="float: right;"> Update</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}