{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!------ Include the above in your HEAD tag ---------->


<div class="container register" style="padding-top: 90px;">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from joining our community!</p>
                        <a href="{% url 'login'%}"><input type="submit" name="" value="Login"/></a><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Welcome to our Community</h3>
                                <div class="row register-form">
                                    {% block contentsign %}

                                    {% endblock contentsign%}
                                </div>
                            </div>
                            
                            
                    </div>
                </div>

            </div>
          </div>
{% endblock content %}