{% extends 'loginbase.html' %}
{% load crispy_forms_tags %}
{% block contentsign %}

<div class="signup-form">
    <form action="{% url 'signup' %}" method="post">{%csrf_token%}
		<div class="form-header">
			<h2>Sign Up</h2>
		</div>
        {{form|crispy}}	
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
		</div>	
    </form>
	<div class="text-center small">Already have an account? <a href="{% url 'login' %}">Login here</a></div>
</div>

{% endblock contentsign %}                         